body {
    margin: 0;
}
#home_page
{   
    background-color:black; /*#ff6961 ;*/
    /*background: url("icons/index_background.jpg") no-repeat center;*/
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    
}
#icon {
    display: none;
    position: absolute;
    margin: 0;
    left: 35%;
}
#iconText {
    margin: 2px;
    margin-bottom: 10px;
    text-align: center;

    font-family: 'Poppins', sans-serif;
    font-size: 90px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}
#subtitle {
    text-align: center;
    padding-top: 10%;
    padding-right: 4%;

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    /*font-variant: small-caps;*/  
    text-transform: none;
}
.zero_spacing{
    letter-spacing: 0px;
}

#content {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 20%;
}
#formatting_div {
    text-align: center;
    padding-top: 5%;
    padding-right: 4%;
}
#launch_user_simu {
  /*position: absolute;*/
  /*left: 44.7%;*/
  background-color: transparent;
  -moz-border-radius: 42px;
  -webkit-border-radius: 42px;
  border-radius: 42px;
  border: 3px solid #ffffff;
  /*display: inline-block;*/
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 5px 25px;
  text-decoration: none;
}
#launch_user_simu:hover {
  /*effet lors du passage de la souris sur le bouton*/
  background-color: #ffffff;
  color: #333333;
}


/* LIQUID BUTTON - SOURCE: https://codepen.io/fliseno1k/pen/WNboLBy */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0c0c0c;
  }
  
  a {
    position: relative;
    padding: 20px 50px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    overflow: hidden;
    border-radius: 40px;
    margin: 2%;
  }
  
  a span {
    position: relative;
    color: #fff;
    font-size: 15px;
    font-family: Arial;
    letter-spacing: 8px;
    z-index: 1;
  }
  
  a .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background: #4973ff;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
  }
  
  a .liquid::after,
  a .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
  }
  
  a .liquid::before {
    
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
  }
  
  a .liquid::after {
    
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
  }
  
  a:hover .liquid{
    top: -120px;
  }
  
  @keyframes animate {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }
/* END LIQUID BUTTON - SOURCE: https://codepen.io/fliseno1k/pen/WNboLBy */


/* LIQUID RADIO BUTTON - SOURCE: */

/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
	--primary-c: #2196F3;
	--secondary-c: #B2D7F5;
	
	--white: #0000;/*#FDFBFB;*/
	
	--text: #fff;/*#f5f9fc;	*/
	--bg: var(--primary-c);
}


/* Basic Config
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
	font-family: 'Raleway', sans-serif;
	color: var(--text);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul {
	list-style-type: none;
	padding-left: 50px;
	margin: 0;
}

li {
	display: block;
	position: relative;
	padding: 20px 0px;
}

h2 {
	margin: 10px 0;
	font-weight: 900;
}


/* Card
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.card {
	display: flex;
	flex-direction: column;	
	background: var(--white);
	width: 300px;
	padding: 20px 25px;
	border-radius: 20px;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.13);
}


/* Radio Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type=radio] {
	position: absolute;
	visibility: hidden;
}

label { 
	cursor: pointer; 
	font-weight: 400;
}

.check {
	width: 30px; height: 30px;
	position: absolute;
	border-radius: 50%;
	transition: transform .6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* Reset */
input#one ~ .check { 
	transform: translate(-50px, -25px); 
	background: var(--secondary-c); 
}
input#two ~ .check { 
	transform: translate(-50px, -83px); 
	background: var(--primary-c);
	box-shadow: 0 6px 12px rgba(33, 150, 243, 0.35);
}

/* Radio Input #1 */
input#one:checked ~ .check { transform: translate(-50px, 33px); }

/* Radio Input #2  */
input#two:checked ~ .check { transform: translate(-50px, -25px); }


/* END LIQUID RADIO BUTTON - SOURCE: */


/* MODAL */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  /*background-color: #fefefe;*/
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content button {
  width: 10%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* END MODAL */