#home_page
{   
    background:#ff6961 ;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    
}
#content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}
